<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EQEmuItemEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EQEmuItemEditor.Properties.Settings>
            <setting name="IconFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DBHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>peqdb</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBConn" serializeAs="String">
                <value>DRIVER={MySQL ODBC 5.3 ANSI Driver};Database={Database};Server={Server};Port={Port};UID={Username};PWD={Password};</value>
            </setting>
            <setting name="DBPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="AutoClasses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto3DModel" serializeAs="String">
                <value>True</value>
            </setting>
        </EQEmuItemEditor.Properties.Settings>
    </userSettings>
</configuration>